*{
  margin: 0;
  padding: 0;
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1f1f1f; 
}

#canvas{
  border: 5px solid rgb(255, 255, 255);
  
}

