*{
  margin: 0;
  padding: 0;
}

#app{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1f1f1f; 
}

#canvas{
  background-color: #c1c1c1;
  border: 1px solid black;
  width: 500px;
  height:400px;
}

